<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
    <div class="header-icons">
        <a aria-label="My Twitter" target="_blank" href="https://feiji567.xyz"><i class="icon fa fa-rocket" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a target="_blank" href="https://feiji567.xyz/auth/register" data-scroll>注册</a>
        <a target="_blank" href="https://feiji567.xyz/auth/login" data-scroll>登录</a>
      </div>
  </div>
  <a class="down" href="https://feiji567.xyz" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
